@{
    ViewData["Title"] = "Strona Główna";
}

<h1>Witaj w NetCRM!</h1>
<p>NetCRM to innowacyjny system do zarządzania relacjami z klientami, który pomoże Ci skutecznie kontrolować i rozwijać Twoją firmę. Oferujemy kompleksowe rozwiązanie do zarządzania:</p>
<ul>
    <li><strong>Klientami</strong> – łatwe śledzenie danych kontaktowych, historii współpracy oraz preferencji.</li>
    <li><strong>Zamówieniami</strong> – pełna kontrola nad procesem sprzedaży, fakturami oraz śledzeniem statusu zamówień.</li>
    <li><strong>Kalendarzem</strong> – planowanie spotkań, przypomnienia o ważnych zadaniach i wydarzeniach.</li>
    <li><strong>Raportami</strong> – zaawansowane narzędzia analityczne do monitorowania wydajności Twojej firmy.</li>
</ul>
<p>Altrinis – twórca NetCRM – to firma, która oferuje innowacyjne rozwiązania IT dla biznesu. Dzięki naszej technologii usprawniasz codzienne operacje, oszczędzasz czas i budujesz silniejsze relacje z klientami.</p>

<p>Rozpocznij swoją przygodę z NetCRM już teraz i zobacz, jak nasz system pomoże Ci w organizacji pracy!</p>
